<link rel="stylesheet" type="text/css" href="questions.scss" />

<div>
  <p><%= @question %></p>
  <p><i>-You</i></p>
</div>

<div>
<p><%= @answer %></p>
<p><i>-Your coach</i></p>
</div>

<div>
  <%= link_to "Ask a new question", "ask" %>
</div>
